body { padding-top: 70px; }
footer {
  margin-top: 45px;
  padding: 35px 10 36px;
  border-top: 1px solid #e5e5e5;
  color: #666;
  display: flex;
}

footer p {
  margin-bottom: 0;
}
footer div {
  flex: 1;
}
footer .madeby {
  text-align: right;
}




